@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.25s ease-out forwards;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
.perspective-1000 {
  perspective: 1000px;
}

.close-center {
  transform: scale(0.9) rotateX(-60deg);
  opacity: 0;
  filter: blur(3px);
  transform-origin: center center;
}

.open-center {
  transform: scale(1) rotateX(0deg);
  opacity: 1;
  filter: blur(0);
  transform-origin: center center;
}
